{% extends "admin/layout-admin.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
    <!-- Chefs -->
<div class="chefs content">
    <div class="admin-header">
        <h1 style='margin-bottom: 30px' >Gerenciar Chefs</h1>
        <a href="/admin/chefs/create">Cadastrar novo Chef</a>
    </div>
    <div class="cards-chefs">
       {% for chef in chefs %}
        <div class="card-chef">
            <img src="{{chef.avatar if chef.avatar else '//placehold.it/500x500?text=Sem Avatar'}}" alt="Foto do Chef" class="chef-image">
             <div class="chef-info">
                <h2 class='chef-name'>{{chef.name}}</h2>
                <h5 class="chef-recipes">{{chef.recipes_total}} receitas</h5>
                <a class="view-chef" href="/admin/chefs/{{chef.id}}">Vizualizar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% block pagination %}{% include "parts/pagination.njk" %}{% endblock %}

{% endblock %}