{% extends "admin/layout-admin.njk" %}

{% block content %}
    <div class="chef content">
        <div class='admin-header'>
             <h2>Criando Chef</h2>
             <button form='form-create' type="submit">Salvar Chef</button>
        </div>
        <form id='form-create' action="/admin/chefs" method="POST" enctype="multipart/form-data">
            {%include 'admin/chefs/form.njk'%}
        </form>
    </div>
{% endblock %}