<div class="search">
        <form action="/recipes/results">
            <input type="text" name="search" placeholder="Buscar uma receita">
            <button type="submit">Buscar</button>
        </form>
</div>