<div class="search">
        <form action="/recipes/results" method="GET">
            <input type="text" name="search" placeholder="Buscar uma receita" value={{search}}>
            <button type="submit">Buscar</button>
        </form>
</div>