header.admin-menu .navbar{
    grid-template-columns: 150px 1fr 1fr 1fr;
    text-align: left;
    text-transform: uppercase;
}

header.admin-menu .navbar form{
   text-align: right;
}

header.admin-menu .navbar form button{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

header.admin-menu .navbar form button:hover{
    font-weight: bold;
}

/* ADMIN - RECIPES */
.cards-admin{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-admin{
    display: grid;
    grid-template-columns: 172px 1fr;
}

.cards-admin, .card-admin{
    gap: 20px;
}

.card-admin-image{
    width: 172px;
    height: 80px;
    border-radius: 8px;
}

.view-recipe, .view-chef{
    color: #6558C3;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.admin-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.admin-header a{
    background-color: #6558C3;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: auto;
}

.admin-header button[type='submit']{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #DC4747;
}

.admin-header button[type='submit']:last-child{
    background: #6558C3;
}

/* ADMIN - RECIPES CHEFS */
.cards-chef-admin, .cards-chef{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 20px;
}

.cards-chef-admin .card-chef-admin, .cards-chef .card-chef{
    display: grid;
    grid-template-columns: 172px 1fr;
    gap: 20px;
}

.cards-chef-admin img, .cards-chef img{
    width: 100%;
    height: 80px;
    border-radius: 8px;
}

.cards-chef-admin .recipe-info, .cards-chef .recipe-info{
    margin: auto 0;
}

/* ADMIN- FORM*/
.recipe-item, .chef-item{
    text-align: initial;
}

.recipe-item h2, .chef-item h2{
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

.recipe-item input, .recipe-item textarea, .recipe-item select, .chef-item input{
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    margin: 16px 0;
    font-size: 16px;
    box-sizing: border-box;
    padding: 8px 16px;
    color: #333;
}

.recipe-item textarea{
    height: 256px;
    vertical-align: top;
    resize: none;
}

.recipe-item button[type='button']{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #6558C3;
    margin-bottom: 30px;
}

/* IMAGE UPLOAD CONTAINER */
#image-upload-container{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 8px;
}

/* IMAGES UPLOAD INPUT */
#images-upload{
    display: flex;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0;
}

form .recipe-item #images-upload i{
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 54px;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
}

form .recipe-item #images-input, .chef-item #images-input{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.chef-item #image-upload-container{
    height: 40px;
}

.chef-item .old-image{
    background-color: #ddd;
    cursor: not-allowed;
}

.chef-item #images-upload{
    height: 100%;
    margin-top: 10px;
}

.chef-item #images-upload p{
    background-color: #6558C3;
    color: white;
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
}

/* UPLOAD PREVIEW */
form .recipe-item #images-preview{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

form .recipe-item #images-preview .image{
    position: relative;
    width: 100%;
    height: 150px;
    
}

form .recipe-item #images-preview .image i{
    position: absolute;
    top: 0;
    left: 0;
    color: #FF0000;
    background-color: rgba(255, 255, 255, .75);
    width: 100%;
    height: 100%;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 500ms;
}

form .recipe-item #images-preview .image i:hover{
    opacity: 1;
}

form .recipe-item #images-preview .image img{
    margin: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: cover;
}

/* USERS */
.user{
    width: 100%;
}

.user .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.user .header h1{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 24px;
    color: #111;
}

.user .header .btn, .admin-header div button[type="submit"], .admin-header div a{
    background-color: #7159C1;
    border: none;
    border-radius: 4px;
    padding: 8px 40px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.admin-header div a{
    background-color: #8A8A8A;
}

.user form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px
}

.user form h2{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.user form input{
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #111;
}

.user form input::placeholder{
    color: #999;
    font-size: 16px;
}

.user form .item.is_admin{
    display: flex;
    align-items: center;
}

.user form .item.is_admin input[type="checkbox"]{
    width: auto;
    margin-right: 8px;
}

.user form .item.is_admin label{
    font-size: 16px;
    font-weight: bold;
    color: #111;
}

/* USERS LIST */
.cards-users    {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 64px;
}

.card-user{
    text-align: left;
}

.card-user div{
    display: flex;
    font-size: 14px;
    margin-top: 16px;
}

.card-user h2{
    font-size: 18px;
    color: #111;
}

.card-user h4{
    font-size: 14px;
    color: #777;
    text-transform: lowercase;
    margin-top: 4px;
}

.card-user div a{
    color: #6558C3;
    font-weight: bold;
}

.card-user div form button[type="submit"]{
    margin-left: 16px;
    background: none;
    border: none;
    color: #F55A5A;
    font-weight: bold;
    cursor: pointer;
}