{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block search %}
<div class="search">
    <form action="/chefs/results">
        <input type="text" name="search" placeholder="Buscar um chef">
        <button type="submit">Buscar</button>
    </form>
</div>
{% endblock %} 

{% block content %}
    <!-- Chefs -->
{% include "home/parts/chefs.njk" %} 

 {% block pagination %}{% include "pagination.njk" %}{% endblock %}

{% endblock %}