{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block search %}
    <form action="/chefs/results">
        <input type="text" name="search" placeholder="Buscar um chef" value='{{search}}'>
        <button type="submit">Buscar</button>
    </form>
{% endblock %} 

{% block content %}
    <!-- Chefs -->
<div class="chefs content">
    <h1>Buscando por {{search}}</h1>
    {% include "parts/chefs.njk" %} 
</div>

{% block pagination %}{% include "parts/pagination.njk" %}{% endblock %}

{% endblock %}