<!-- Modal -->
<div class="modal-overlay ">
    <div class="modal">
        <img src="" alt="Foto do prato" class="modal-image">
        <div class="modal-info">
            <h2></h2>
            <h5></h5>
        </div>
        <a class="view-recipes">Ver Receita</a>
        <a class="close-modal">Fechar</a>
    </div>
</div>