{% extends "layout.njk" %}

{% block search %}
<div class="search">
    <form action="/chefs/results">
        <input type="text" name="search" placeholder="Buscar um chef">
        <button type="submit">Buscar</button>
    </form>
</div>
{% endblock %} 

{% block content %}
    <div class="chef">
        <div class="chefs-info">
            <img src="{{chef.avatar_url}}" alt="Foto do prato" class="avatar" style='background:  no-repeat center center / cover'>
            <h2 class='chef-name'>{{chef.name}}</h2>
            <h5 class="chef-recipes-total">{{chef.recipes_total}} receitas</h5>
        </div>
    </div>
    <div class="recipes">
        <h1>Receitas</h1>
        <div class="cards-chef">
        {% for recipe in recipes %}
                <div class="card-chef">
                <img src="{{recipe.image}}" alt="Foto do prato" class="card-image">
                <div class="recipe-info">
                    <h2 class="recipe-title">{{recipe.title}}</h2>
                    <h5 class="recipe-author">{{chef.name}}</h5>
                    <a class="view-recipe" href="/recipe/{{recipe.id}}">Vizualizar</a>
                </div>
            </div>
        {% endfor %}  
        </div>
    </div>
{% endblock %}