{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Chefs</title>
{% endblock %}

{% block search %}
    <form action="/chefs/results">
        <input type="text" name="search" placeholder="Buscar um chef" value='{{search}}'>
        <button type="submit">Buscar</button>
    </form>
{% endblock %} 

{% block content %}
    <!-- Chefs -->
<div class="chefs content">
    <h1>Buscando por {{search}}</h1>
    <div class="cards-chefs">
       {% for chef in chefs %}
        <div class="card-chef">
            <img src="{{chef.avatar_url}}" alt="Foto do Chef" class="chef-image">
             <div class="chef-info">
                <h2 class='chef-name'>{{chef.name}}</h2>
                <h5 class="chef-recipes">{{chef.recipes_total}} receitas</h5>
                <a class="view-chef" href="/admin/chef/{{chef.id}}">Vizualizar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

 {% block pagination %}{% include "pagination.njk" %}{% endblock %}

{% endblock %}