<div class="recipe-item">
    <h2>Imagem da receita</h2>
    <input type="url" name="image" value='{{recipe.image}}'>
</div>
<div class="recipe-item">
    <h2>Nome da receita</h2>
    <input type="text" name="title" value='{{recipe.title}}'>
</div>
<div class="recipe-item">
    <h2>Autor da receita</h2>
    <input type="text" name="author" value='{{recipe.author}}'>
</div>
<div class="recipe-item">
    <h2>Ingredientes</h2>
    <div id="ingredients">
        {% if recipe.ingredients %}
            {% for ingredient in recipe.ingredients %}
            <div class='ingredient'>
                <input type="text" name="ingredients[]" value='{{ingredient}}'>
            </div>
            {% endfor %}
        {%else%}
            <div class='ingredient'>
                <input type="text" name="ingredients[]">
            </div>
        {% endif %}
    </div>
    <button type='button' class="add-ingredient">Adicionar Ingrediente</button>
</div>

<div class="recipe-item">
    <h2>Modo de Preparo</h2>
    <div id="preparations">
        {% if recipe.preparation %}
            {% for step in recipe.preparation %}
            <div class='step'>
                <input type="text" name="preparation[]" value='{{step}}'>
            </div>
            {% endfor %}
        {%else%}
            <div class='step'>
                <input type="text" name="preparation[]">
            </div>
        {% endif %}
    </div>

    <button type='button' class='add-step'>Adicionar Novo Passo</button>
</div>

<div class="recipe-item">
    <h2>Informações Adicionais</h2>
    <textarea name="information" id="" cols="30" rows="10">{{recipe.information}}</textarea>
</div>