{% extends "layout.njk" %}

{% block search %}
    {% include "user/recipes/search-form.njk" %}
{% endblock %}

{% block content %}
    <!-- Destaque -->
    <div class="banner content">
        <div class="banner-info">
            <h1>As melhores Receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="">
    </div>

    <!-- Mais Acessadas -->
    {% include "user/parts/recipes.njk" %} 

{% block pagination %}{% include "pagination.njk" %}{% endblock %}

{% endblock %}
{% block extend %}
    {% include "modal.njk" %}
{% endblock %}
{% block js %}
        <script src="/JS/modal.js"></script>
{% endblock %}