{% extends "admin/profile/session-layout.njk" %}

{% block content %}
    <div class="session content">
        <h1>Nova Senha</h1>
        <form id="login" action="/admin/profile/login" method="POST">
            <div class="item">
                <h2>Email</h2>
                <input type="text" name="email" value='{{user.email}}' placeholder="Digite seu email" onblur="EmailValidator.isEmail(this)">
            </div>
            <div class="item">
                <h2>Senha</h2>
                <input type="password" name="password" placeholder="Digite sua nova senha">
            </div>
             <div class="item">
                <h2>Senha</h2>
                <input type="password" name="passwordRepeat" placeholder="Repita a nova senha">
            </div>
        </form>
        <div>
            <button form="login" type="submit" class="btn">Nova Senha</button>   
        </div>
    </div>
{% endblock %}