{% extends "layout-admin.njk" %}

{% block content %}
    <div class="recipe content">
        <div class='admin-header'>
             <h2>Editando Receita</h2>
             <div>
                <button form='form-delete' type="submit">Deletar</button>
                <button form='form-edit' type="submit">Salvar Receita</button>
             </div>
        </div>
        <form id='form-edit' action="/admin/recipe?_method=PUT" method="post" multiple accept="image/*" enctype="multipart/form-data">
            {%include 'admin/recipes/form.njk'%}
            <input type="hidden" name="id" value='{{recipe.id}}'>
        </form>
        <form id='form-delete' action="/admin/recipe?_method=DELETE" method="post">
            <input type="hidden" name="id" value='{{recipe.id}}'>
        </form>
    </div>
{% endblock %}