{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block search %}
    {% include "home/recipes/search-form.njk" %}
{% endblock %}

{% block content %}
    <!-- Receitas -->
{% include "home/parts/recipes.njk" %} 

{% block pagination %}{% include "pagination.njk" %}{% endblock %}

{% endblock %}
{% block extend %}
    {% include "modal.njk" %}
{% endblock %}
{% block js %}
        <script src="/JS/modal.js"></script>
{% endblock %}