{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block search %}
    {% include "home/recipes/search-form.njk" %}
{% endblock %}

{% block content %}
    <!-- Receitas -->
<div class="recipes content">
    <h1>Nossas receitas</h1>
    {% include "parts/recipes.njk" %} 
</div> 

{% block pagination %}{% include "parts/pagination.njk" %}{% endblock %}

{% endblock %}
{% block extend %}
    {% include "modal.njk" %}
{% endblock %}
{% block js %}
        <script src="/JS/modal.js"></script>
{% endblock %}