<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Foodfy</title>
    {% endblock %}
    <!-- Icon -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
        <header class="admin-menu">       
        <div class="navbar content">
            <div class="logo">
                <a href="/"><img src="/assets/logo_white.png" alt="Foodfy Logo"></a>
            </div>
            <nav>
                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </nav>    
        </div>
    </header>
    
       {% block content %}{% endblock %}
    <script src="/JS/scripts.js"></script>
    {% block js %}{% endblock %}
</body>
</html>