<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Foodfy</title>
    {% endblock %}
    
    <!-- CSS -->
    <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>
    <div class="content">
        <header>       
            <div class="navbar">
                <a href="/"><img src="/assets/logo.png" alt="Foodfy Logo"></a>
                <a href="/admin/recipes">Receitas</a>
                <a style="margin: 0" href="/admin/chefs">Chefs</a>      
            </div>
        </header>
    
       {% block content %}{% endblock %}
    </div>
    <script src="/JS/scripts.js"></script>
    {% block js %}{% endblock %}
</body>
</html>