<section class="pagination" data-total={{pagination.total}} data-page={{pagination.page}} data-search='{{search}}'>
    <div class="pagination-controls">
        <div class="first item-control">&#171;</div>
        <div class="prev item-control">&lt;</div>
        <div class="pages-list">
            <div class="item-control"></div>
        </div>
        <div class="next item-control">&gt;</div>
        <div class="last item-control">&#187;</div>
    </div>
</section>